$cBlack: black;

body {
  text-align: center;
}



@mixin animation(
  $name,
  ){
    animation-name: $name;
}

.rect {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: $cBlack;
  @include animation(
    $name: sk-bouncedelay
    );
  //animation: sk-bouncedelay 1.4s;
  //animation-timing-function: ease;
  //animation-interation-count: infinite;
  //animation-direction: alternate-reverse;
 // animation-fill-mode: b;
  //transform: scale(0);


}

.paused{
  animation-play-state: paused;
}

@keyframes sk-bouncedelay {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
